# Problem Statement
Compare below 5 keys with 6 different dataframes to update StandardTemplate.csv and inserting in it(StandardTemplate.csv).

Contents in Basement

Real Property in Basement

Rebuilding to Code

CHUBB PERSONAL (PRIMARY) FLOOD OR
CHUBB EXCESS FLOOD

PRODUCER NAME

1)Contents in Basement: present in 2.csv file only  and the  value is represented as maximum.

2)Real Property in Basement : present in 2.csv file only and the value is represented as maximum.

3)Rebuilding to Code  :present in 2.csv file only and the value is represented as maxium.

4)CHUBB PERSONAL (PRIMARY) FLOOD OR
CHUBB EXCESS FLOOD                  : not found in any csv file.


5)PRODUCER NAME      : present in 3.csv file only and the value is represented as  _ KRA Insurance Agency

In [1]:
#importing Required Libraries
import pandas as pd
import numpy as np
import re
import nltk
import warnings
warnings.filterwarnings("ignore")

In [2]:
#reading the all datasets 
data1 = pd.read_csv('1.csv')
data2 = pd.read_csv('2.csv')
data3 = pd.read_csv('3.csv')
data4 = pd.read_csv('2.csv')
data5 = pd.read_csv('5.csv')
data6 = pd.read_csv('6.csv')

In [3]:
#reading the StandardTemplate dataset
stan_data = pd.read_csv('StandardTemplate.csv',encoding='cp1252')
stan_data.head()

Empty DataFrame
Columns: [Agency Name, Legacy Chubb Agency Code, Agency Contact Info  Name, Phone, Email, Fax, Insured Name, Chubb Ltd Policy No, Street, City, County required, State, Zip, Deductible all peril, Dates of loss, Amounts of loss, Date of Construction, Number of Stories, Flood Zone, BFE, LFE, Additional Living Expenses ALE, Date Quote Form Submitted to WNC, Contents, Building or AA, Contents Limit, Deductible, Personal (Primary) Flood or Excess Flood, Any flood loss in past 10 years? Yes/No, Elevated? (Yes/No), If elevated, by:, Type of Building (Single-family/2-Family/Condo\Cooperative), Foundation Information (Flood Zone/BFE/LFE), Homeowner Policy Effective Date, Requested Effective Date of Flood Policy, Building or AA Limits, Contents in Basement, Real Property in Basement, Rebuilding to Code, attachmentName, emailName, Insured Information (SIG or Premier), Unnamed: 42, CHUBB PERSONAL (PRIMARY) FLOOD, CHUBB EXCESS FLOOD, PRODUCER NAME, PRODUCER NO, CONTACT INFO, Phone.1, Fax.1, INSURED’S NAME, CHUBB POLICY NO., Street.1, City.1, County: (REQUIRED), State.1, Zip.1, Building or A&A, Contents.1, Deductible (Not applicable to excess), Prior losses, Date of Construction.1, Building or A&A.1, Contents.2, Flood Zone.1, Type of Building : Single Family, Type of Building : 2-Family, Type of Building : Condominium\Cooperative, Number of Stories (excluding basement), Basement(Y/N), Finished, Unfinished, Enclosure, Slab on Grade, Crawl Space, Elevated (If Yes by), Piers/Posts/Columns (circle), Flood Zone.2, BFE.1, LFE.1, Date Quote Submitted to WNC, Unnamed: 81, Policy Form (House (includes a detached garage)/Condominium/Cooperative/Other permanent structure), Policy Type(New/Endorsement), Current Flood Policy , Requested Policy Effective Date, Writing Company, Producer Name, Producer Street Address, Producer City/State/Zipcode, Producer Phone Number, Producer Number, Insured’s Name, Mailing Address, City/State/Zipcode, Property Location, City/State/Zipcode.1, Corresponding Chubb Homeowners policy number, If House coverage is being requested, what is the house amount of coverage on the Chubb Homeowners Policy?, If Contents coverage is being requested, what is the contents amount of coverage on the Chubb Homeowners Policy?, ...]
Index: []

[0 rows x 16384 columns]

In [6]:
#printing the top 2 records of data1
data1.head(2)

,Unnamed: 0,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,required_col,new_col
0,0,5,1,1,1,1,1,160,138,354,81,96.423638,CHUBB,"block_1,line_1,word_ 1",CHUBB QUICK FLOOD ESTIMATE WORKSHEET (_) PERSO...
1,1,5,1,1,1,1,2,560,138,325,94,96.096090,QUICK,"block_1,line_1,word_ 2",CHUBB QUICK FLOOD ESTIMATE WORKSHEET (_) PERSO...

In [7]:
#printing the top 2 records of data2
data2.head(2)

,Unnamed: 0,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,required_col,new_col
0,0,5,1,1,1,1,1,160,263,355,82,96.495631,CHUBB,"block_1,line_1,word_ 1",CHUBB QUICK FLOOD ESTIMATE WORKSHEET (@) PERSO...
1,1,5,1,1,1,1,2,561,263,325,95,95.925887,QUICK,"block_1,line_1,word_ 2",CHUBB QUICK FLOOD ESTIMATE WORKSHEET (@) PERSO...

In [8]:
#printing the top 2 records of data3
data3.head(2)

,Unnamed: 0,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,required_col,new_col
0,0,5,1,1,1,1,1,695,166,50,50,96.248698,A,"block_1,line_1,word_ 1",A PREMIUM ESTIMATE DERIVED FROM THIS WORKSHEET...
1,1,5,1,1,1,1,2,769,166,318,51,96.191221,PREMIUM,"block_1,line_1,word_ 2",A PREMIUM ESTIMATE DERIVED FROM THIS WORKSHEET...

In [9]:
#printing the top 2 records of data4
data4.head(2)

,Unnamed: 0,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,required_col,new_col
0,0,5,1,1,1,1,1,160,263,355,82,96.495631,CHUBB,"block_1,line_1,word_ 1",CHUBB QUICK FLOOD ESTIMATE WORKSHEET (@) PERSO...
1,1,5,1,1,1,1,2,561,263,325,95,95.925887,QUICK,"block_1,line_1,word_ 2",CHUBB QUICK FLOOD ESTIMATE WORKSHEET (@) PERSO...

In [10]:
#printing the top 2 records of data5
data5.head(2)

,Unnamed: 0,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,required_col,new_col
0,0,5,1,1,1,1,1,3498,19,159,73,96.737217,Page,"block_1,line_1,word_ 1",Page | of 9
1,1,5,1,1,1,1,2,3690,18,22,56,94.260635,|,"block_1,line_1,word_ 2",Page | of 9

In [11]:
#printing the top 2 records of data6
data6.head(2)

,Unnamed: 0,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,required_col,new_col
0,0,5,1,1,1,1,1,1685,264,277,61,95.508388,Excess,"block_1,line_1,word_ 1",Excess Flood Insurance Policy Application — Fl...
1,1,5,1,1,1,1,2,1996,264,215,61,95.420770,Flood,"block_1,line_1,word_ 2",Excess Flood Insurance Policy Application — Fl...

In [12]:
#checking shape of data1
data1.shape

(480, 15)

In [14]:
#checking shape of data2
data2.shape

(469, 15)

In [15]:
#checking shape of data3
data3.shape

(455, 15)

In [16]:
#checking shape of data4
data4.shape

(469, 15)

In [17]:
#checking shape of data5
data5.shape

(2326, 15)

In [18]:
#checking shape of data6
data6.shape

(888, 15)

In [19]:
#extracting unique values from the dataset
data1['new_col'].unique()

array(['CHUBB QUICK FLOOD ESTIMATE WORKSHEET (_) PERSONAL (PRIMARY) FLOOD',
       '. . . . . Primary = 1st dollar coverage up to repl.',
       'A premium estimate derived from this worksheet is not the result of a cost: S15M total promerty atone lowation',
       'complete underwriting process nor does it constitute an offer of coverage. EXCESS FLOOD',
       'Premium subject to change upon receipt of fully completed application. Excess = over maximum NFIP limits or',
       'the Self-Insured Retention', 'Submit to:',
       'WNC First Insurance Services > Email: chubbflood@wncfirst.com Fax: 305-587-2405 Phone: 888-386-9488',
       'AGENT/BROKER INFORMATION', 'Agency Name: NFP',
       'Agency Contact Info > Name:', 'Email:_',
       'INSURED INFORMATION OsiG OPremier',
       'Insured Name: HENRY LAWRENCE CULP JR AND WENDY CULP Chubb Ltd Policy No.: 1236050539',
       'Property Location (must be insured with Chubb Ltd):',
       'Street: 102 HIGH ST',
       'City: CHESTERTOWN __ County (required): KENT Zip: 21620',
       'Chubb Ltd Homeowner/Condominium/Cooperative/Renter Coverage Limits:',
       'Building or A&A $ 3949000 __ Contents $ 789200 Deductible (all peril) $ 10000',
       'HemeewnerPelicy Effective Date: {/ —/ >', 'RATING INFORMATION',
       'Any flood or water damage losses, including sump pump failure, backup of sewer and drain or seepage, paid or unpaid',
       'in the last 10 years? ©OYES ©NO',
       'Date(s) of loss: _=_—/__—s_si/ Amount(s) of loss:',
       '*Risks with prior losses from flooding events are not eligible for preferred rates where available*',
       'Date of Construction:°1_/01—/69 _— Elevated? OYES ©@NO Type of Building: © single-family',
       '© 2-Family', '© Condo/Cooperative',
       'Ex-Wind Homeowners Policy? OYES ©NO Under Construction/Renovation? OYES ©NO',
       '*Ex-Wind policies or buildings under construction/renovation are ineligible for coverage*',
       'Foundation Information',
       'OBasement OsSlab on Grade Ocrawl Space ©O Enclosure',
       'OFinished OUnfinished',
       'Any A or V Flood Zone, please provide the BFE and LFE (not required for B, C or X zones):',
       'Flood Zone: BFE: _____—LFE:',
       'Number of Stories: 2 If elevated, by: OpPiers OPosts Ocolumns',
       'FLOOD LIMITS REQUESTED,', 'Basic Limits Additional Limits',
       'Building or A&A S 3949000', 'Contents S 789200',
       'Deductible> S 10000', '(not applicable to excess)', ' ',
       'Se Contents in Basement S', 'Real Property in Basement S',
       'Rebuilding to Code',
       'Requested Effective Date of Flood Policy: 91/15 _—_—// 22',
       '1. For primary flood an additional premium applies to increases to any of the following coverages: Real Property in the Basement, Contents in the Basement,',
       'Rebuilding to Code and Additional Living Expenses (ALE). For excess flood $7,500 of ALE coverage is included. Addition of any of the remaining related',
       'coverages or increased ALE is optional, subject to an additional premium and underwriting acceptability.',
       '2. The flood deductible must be equal to or greater than the underlying Homeowners all peril deductible.',
       'Date Quote Form Submitted to WNC: 91/14/22',
       'A FORMAL AND GUARANTEED QUOTE CAN ONLY BE OTAINED UPON CHUBB’S REVIEW OF A FULL COMPLETED CHUBB PERSONAL OR EXCESS FLOOD',
       'APPLICATION (AND ELEVATION CERTIFICATE, IF APPLICABLE) AND THE COMPLETION OF CHUBB’S UNDERWRITING PROCESS.',
       nan], dtype=object)

In [20]:
#extracting unique values from the dataset
data2['new_col'].unique()

array(['CHUBB QUICK FLOOD ESTIMATE WORKSHEET (@) PERSONAL (PRIMARY) FLOOD',
       'A premium estimate derived from this worksheet is not the result of a raat e aM fot properhrel one lonelier',
       'complete underwriting process nor does it constitute an offer of coverage. EXCESS FLOOD',
       'Premium subject to change upon receipt of fully completed application. Pocese = aver niacin: MIE NIMS oF',
       'the Self-Insured Retention', 'Submit to:',
       'WNC First Insurance Services > Email: chubbflood@wncfirst.com Fax: 305-587-2405 Phone: 888-386-9488',
       'AGENT/BROKER INFORMATION',
       'Agency Name:NFP Property & Casualty Legacy Chubb Agency Code: 79301',
       'Agency Contact Info > Name: Karen Bartels Phone: 516-719-7831',
       'Email: karen.bartels@nfp.com Fax:', 'INSURED INFORMATION',
       'Insured Name: Andrianna Infusino Chubb Ltd Policy No.: 1BD - New Purchase',
       'Property Location (must be insured with Chubb Ltd):',
       'Street: 8 Allerton Ct',
       'City: Florham Park ————————_—sCounntty (required):Morris State: Nu Zip: 07932',
       'Chubb Ltd Homeowner/Condominium/Cooperative/Renter Coverage Limits:',
       'Building or A&A $1,750,000 Contents $875,000 Deductible (all peril) $2,500',
       'RATING INFORMATION',
       'Any flood or water damage losses, including sump pump failure, backup of sewer and drain or seepage, paid or unpaid',
       'in the last 10 years? OYES ©NO',
       'Date(s) ofloss: _/ _—i/ Amount(s) of loss:',
       '*Risks with prior losses from flooding events are not eligible for preferred rates where available*',
       'Date of Construction:°1 — /91_—/1981_— Elevated? OYES ONO Type of Building: © single-family',
       'O 2-Family',
       'Number of Stories: If elevated, by: O Piers OPosts = QOcColumns O Condo/Cooperative',
       'Ex-Wind Homeowners Policy? OYES ©NO Under Construction/Renovation? OYES ©NO',
       '*Ex-Wind policies or buildings under construction/renovation are ineligible for coverage*',
       'Foundation Information',
       '© Basement OSlab on Grade OCrawl Space OEnclosure',
       '©Finished OUnfinished',
       'Any A or V Flood Zone, please provide the BFE and LFE (not required for B, C or X zones):',
       'Flood Zone: BFE: LFE:', 'FLOOD LIMITS REQUESTED,',
       'Basic Limits Additional Limits',
       'Building or A&A S 250,000 Contents in Basement S Maximum',
       'Contents S 100,000 Real Property in Basement S Maximum',
       'Deductiblez § 2,500 Additional Living Expenses (ALE)S Maximum',
       '(not applicable to excess) Rebuilding to Code S Maxium', ' ',
       '1. For primary flood an additional premium applies to increases to any of the following coverages: Real Property in the Basement, Contents in the Basement,',
       'Rebuilding to Code and Additional Living Expenses (ALE). For excess flood $7,500 of ALE coverage is included. Addition of any of the remaining related',
       'coverages or increased ALE is optional, subject to an additional premium and underwriting acceptability.',
       '2. The flood deductible must be equal to or greater than the underlying Homeowners all peril deductible.',
       'Date Quote Form Submitted to WNC: 91/12/2022',
       'A FORMAL AND GUARANTEED QUOTE CAN ONLY BE OTAINED UPON CHUBB’S REVIEW OF A FULL COMPLETED CHUBB PERSONAL OR EXCESS FLOOD',
       'APPLICATION (AND ELEVATION CERTIFICATE, IF APPLICABLE) AND THE COMPLETION OF CHUBB’S UNDERWRITING PROCESS.',
       'CHUBB REFERS TO THE INSURERS OF THE CHUBB GROUP OF INSURANCE COMPANIES',
       nan], dtype=object)

In [21]:
#extracting unique values from the dataset
data3['new_col'].unique()

array(['A PREMIUM ESTIMATE DERIVED FROM THIS WORKSHEET IS NOT THE RESULT OFA',
       'COMPLETE UNDERWRITING PROCESS NOR DOES IT CONSTITUTE AN OFFER OF COVERAGE',
       'CHUBB QUICK FLOOD ESTIMATE WORKSHEET (CHECK ONE)',
       'CHUBB PERSONAL (PRIMARY) FLOOD OR CHUBB EXCESS FLOOD',
       'Primary = Ist dollar coverage up to repl. cost; $15M total property @one location — Excess = over maximum NFIP limits or the Self-Insured Retention',
       ' ', 'Submit to: Thomas Phillips ext. 5004 tphillips@wncfirst.com',
       'WNC First Insurance Services by Fax: (305) 270-0327 — Scarlett Fernandez ext. 5007 sfernandez@wncfirst.com',
       'or email: chubbflood@wncfirst.com Dayanara Lago-Ciriaco ext 5003 dciriaco@wncfirst.com',
       'Contact: (888) 386-9488 Lydia Argote ext. 5005 largote@wncfirst.com',
       'AGENT/BROKER INFORMATION',
       'PRODUCER NAME: _ KRA Insurance Agency PRODUCER NO: 61857',
       'CONTACT INFO: Name Adam Burrick Phone: _ 973-671-0078 Fax: 973-850-4323',
       'INSURED’S INFORMATION',
       'INSURED’S NAME: ___Dr Barney Kenet CHUBB POLICY NO. 768062861',
       'HOUSE/CONDO or CO-OP PROPERTY LOCATION (must be insured with Chubb - EX-WIND POLICIES ARE INELIGIBLE):',
       'Street: 234 E 72™ St',
       'City: New York County: (requirep) __ Manhattan _State:_NY_ Zip: _10021 _',
       'FLOOD COVERAGE INFORMATION!',
       'Building or AXA $ 500,000 Contents $ —_ 100,000 Deductible (Not applicable to excess) $ 5,000 __',
       'RATING INFORMATION?', 'Prior losses: Yes xx No',
       'Date of Construction: 4 / 1 / 1910 _ (orsubstantial improvement date if it increased building’s market value>50%)',
       'Chubb Homeowners/Condominium/Cooperative Coverage Limits:',
       'Building or AXR®A$ A&A: 4,493,000 Contents$ ———_—-6 43,000',
       'Flood Zone ———x_~——sSTFype of Building: Single Family xs‘ 2-Family Condominium/Cooperative x',
       'Foundation Information',
       '__3.__ Number of Stories (excluding basement) ___y | Basement(Y/N) Finished ___x___ Unfinished',
       'Enclosure Slab on Grade Crawl Space',
       'Elevated (If Yes by) Piers/Posts/Columns (circle)',
       'FOR ANY A OR V FLOOD ZONE, PLEASE PROVIDE THE FOLLOWING INFORMATION (not required for B, C or X zones):',
       'Flood Zone X Community Number If applicable: BFE LFE',
       '1. For primary flood an additional premium applies to increases to any of the following coverages: Real Property in the Basement,',
       'Contents in the Basement, Rebuilding to Code and Additional Living Expenses (ALE). For excess flood $7,500 of ALE coverage is',
       'included. Addition of any of the remaining related coverages or increased ALE is optional, subject to an additional premium and',
       'underwriting acceptability.',
       '2. If the structure has been previously insured under the NFIP or by another flood carrier, please fax a copy of the prior policy and/or',
       'the elevation certificate, if available. For Post-FIRM risks in A or V zones, elevation information will be required to receive a formal',
       'and guaranteed quote.', 'Date Quote Submitted to WNC: 12/7/21',
       'A FORMAL AND GUARANTEED QUOTE CAN ONLY BE OBTAINED UPON CHUBB’S REVIEW OF A FULLY COMPLETED CHUBB PERSONAL',
       'OR EXCESS FLOOD APPLICATION (and Elevation Certificate, if applicable) AND THE COMPLETION OF CHUBB’S UNDERWRITING PROCESS',
       nan], dtype=object)

In [22]:
#extracting unique values from the dataset
data4['new_col'].unique()

array(['CHUBB QUICK FLOOD ESTIMATE WORKSHEET (@) PERSONAL (PRIMARY) FLOOD',
       'A premium estimate derived from this worksheet is not the result of a raat e aM fot properhrel one lonelier',
       'complete underwriting process nor does it constitute an offer of coverage. EXCESS FLOOD',
       'Premium subject to change upon receipt of fully completed application. Pocese = aver niacin: MIE NIMS oF',
       'the Self-Insured Retention', 'Submit to:',
       'WNC First Insurance Services > Email: chubbflood@wncfirst.com Fax: 305-587-2405 Phone: 888-386-9488',
       'AGENT/BROKER INFORMATION',
       'Agency Name:NFP Property & Casualty Legacy Chubb Agency Code: 79301',
       'Agency Contact Info > Name: Karen Bartels Phone: 516-719-7831',
       'Email: karen.bartels@nfp.com Fax:', 'INSURED INFORMATION',
       'Insured Name: Andrianna Infusino Chubb Ltd Policy No.: 1BD - New Purchase',
       'Property Location (must be insured with Chubb Ltd):',
       'Street: 8 Allerton Ct',
       'City: Florham Park ————————_—sCounntty (required):Morris State: Nu Zip: 07932',
       'Chubb Ltd Homeowner/Condominium/Cooperative/Renter Coverage Limits:',
       'Building or A&A $1,750,000 Contents $875,000 Deductible (all peril) $2,500',
       'RATING INFORMATION',
       'Any flood or water damage losses, including sump pump failure, backup of sewer and drain or seepage, paid or unpaid',
       'in the last 10 years? OYES ©NO',
       'Date(s) ofloss: _/ _—i/ Amount(s) of loss:',
       '*Risks with prior losses from flooding events are not eligible for preferred rates where available*',
       'Date of Construction:°1 — /91_—/1981_— Elevated? OYES ONO Type of Building: © single-family',
       'O 2-Family',
       'Number of Stories: If elevated, by: O Piers OPosts = QOcColumns O Condo/Cooperative',
       'Ex-Wind Homeowners Policy? OYES ©NO Under Construction/Renovation? OYES ©NO',
       '*Ex-Wind policies or buildings under construction/renovation are ineligible for coverage*',
       'Foundation Information',
       '© Basement OSlab on Grade OCrawl Space OEnclosure',
       '©Finished OUnfinished',
       'Any A or V Flood Zone, please provide the BFE and LFE (not required for B, C or X zones):',
       'Flood Zone: BFE: LFE:', 'FLOOD LIMITS REQUESTED,',
       'Basic Limits Additional Limits',
       'Building or A&A S 250,000 Contents in Basement S Maximum',
       'Contents S 100,000 Real Property in Basement S Maximum',
       'Deductiblez § 2,500 Additional Living Expenses (ALE)S Maximum',
       '(not applicable to excess) Rebuilding to Code S Maxium', ' ',
       '1. For primary flood an additional premium applies to increases to any of the following coverages: Real Property in the Basement, Contents in the Basement,',
       'Rebuilding to Code and Additional Living Expenses (ALE). For excess flood $7,500 of ALE coverage is included. Addition of any of the remaining related',
       'coverages or increased ALE is optional, subject to an additional premium and underwriting acceptability.',
       '2. The flood deductible must be equal to or greater than the underlying Homeowners all peril deductible.',
       'Date Quote Form Submitted to WNC: 91/12/2022',
       'A FORMAL AND GUARANTEED QUOTE CAN ONLY BE OTAINED UPON CHUBB’S REVIEW OF A FULL COMPLETED CHUBB PERSONAL OR EXCESS FLOOD',
       'APPLICATION (AND ELEVATION CERTIFICATE, IF APPLICABLE) AND THE COMPLETION OF CHUBB’S UNDERWRITING PROCESS.',
       'CHUBB REFERS TO THE INSURERS OF THE CHUBB GROUP OF INSURANCE COMPANIES',
       nan], dtype=object)

In [23]:
#dropping the null values for the all  datasets from 1 to 6
data1 = data1.dropna()
data2 = data2.dropna()
data3 = data3.dropna()
data4 = data4.dropna()
data5 = data5.dropna()
data6 = data6.dropna()

# Contents in Basement key

In [24]:
#reading the given key as string
str1 = 'Contents in Basement'

In [25]:
#writing function to retrieve the values of new_col from every dataset
output_final =[]
def output_list(str):
    for i in range(1,7):
        data = pd.read_csv(f"{i}.csv")
        data = data.dropna()
        csv= data[data['new_col'].str.contains(str1)]
        a=csv['new_col'].unique()
        lis1=list(a)
        #print(lis1)
        lis2=(''.join(lis1))
        
        string = lis2
        sub_str = 'Maximum'
        if(string.find(sub_str)==-1):
            print('for  data{} value not found'.format(i))
            output_final.append('')
            #output_lis2.append(output_lis1)
            #return output_final
        else:
            print('for  data{} value found'.format(i))
            def listtostr(lis1):
                    str3 =" "
                    for e in lis1:
                        str3+=e
                    return str3
                
            str5=listtostr(lis1)
            print(str5) 
            def lastword(str):
                newstr = ''
                length = len(str)
                for i in range(length-1,0,-1):
                    if (str[i]==" "):
                        return newstr[::-1]
                    else:
                        newstr=newstr+str[i]
                        
            op2=lastword(str5)
            print(op2)
            output_final.append(op2)  
            
    return output_final

In [26]:
output_list(str1)

for  data1 value not found
for  data2 value found
 Building or A&A S 250,000 Contents in Basement S Maximum
Maximum
for  data3 value not found
for  data4 value not found
for  data5 value not found
for  data6 value not found

['', 'Maximum', '', '', '', '']

# Real Property in Basement key

In [27]:
#reading the given key as string
str2 = 'Real Property in Basement'

In [29]:
#writing function to retrieve the values of new_col from every dataset
output_final2 =[]
def output_list2(str):
    for i in range(1,7):
        data = pd.read_csv(f"{i}.csv")
        data = data.dropna()
        csv= data[data['new_col'].str.contains(str2)]
        a=csv['new_col'].unique()
        lis1=list(a)
        #print(lis1)
        lis2=(''.join(lis1))
        
        string = lis2
        sub_str = 'Maximum'
        if(string.find(sub_str)==-1):
            print('for  data{} value not found'.format(i))
            output_final2.append('')
            #output_lis2.append(output_lis1)
            #return output_final
        else:
            print('for  data{} value found'.format(i))
            def listtostr(lis1):
                    str3 =" "
                    for e in lis1:
                        str3+=e
                    return str3
                
            str5=listtostr(lis1)
            print(str5) 
            def lastword(str):
                newstr = ''
                length = len(str)
                for i in range(length-1,0,-1):
                    if (str[i]==" "):
                        return newstr[::-1]
                    else:
                        newstr=newstr+str[i]
                        
            op2=lastword(str5)
            print(op2)
            output_final2.append(op2)  
            
    return output_final2

In [30]:
output_list2(str2)

for  data1 value not found
for  data2 value found
 Contents S 100,000 Real Property in Basement S Maximum
Maximum
for  data3 value not found
for  data4 value not found
for  data5 value not found
for  data6 value not found

['', 'Maximum', '', '', '', '']

# Rebuilding to Code key

In [31]:
#representing the given key as string
str3 = 'Rebuilding to Code'

In [32]:
##function for retrieve values of new_col from all datasets
output_final3 =[]
def output_list3(str):
    for i in range(1,7):
        data = pd.read_csv(f"{i}.csv")
        data = data.dropna()
        csv= data[data['new_col'].str.contains(str3)]
        a=csv['new_col'].unique()
        lis1=list(a)
        #print(lis1)
        lis2=(''.join(lis1))
        #print(lis2)
        
        string = lis2
        sub_str = 'Maxium'
        if(string.find(sub_str)==-1):
            print('for  data{} value not found'.format(i))
            output_final3.append('')
            #output_lis2.append(output_lis1)
            #return output_final
        else:
            print('for  data{} value found'.format(i))
            def listtostr(lis1):
                    str3 =" "
                    for e in lis1:
                        str3+=e
                    return str3
                
            str5=listtostr(lis1)
            print(str5) 
            def lastword(str):
                newstr = ''
                length = len(str)
                for i in range(length-1,0,-1):
                    if (str[i]==" "):
                        return newstr[::-1]
                    else:
                        newstr=newstr+str[i]
                        
            op2=lastword(str5)
            print(op2)
            output_final3.append('Maxium')  
            
    return output_final3

In [33]:
output_list3(str3)

for  data1 value not found
for  data2 value found
 (not applicable to excess) Rebuilding to Code S MaxiumRebuilding to Code and Additional Living Expenses (ALE). For excess flood $7,500 of ALE coverage is included. Addition of any of the remaining related
related
for  data3 value not found
for  data4 value not found
for  data5 value not found
for  data6 value not found

['', 'Maxium', '', '', '', '']

# CHUBB PERSONAL (PRIMARY) FLOOD OR CHUBB EXCESS FLOOD key

In [34]:
#representing the given key as string
str4 = 'FLOOD OR CHUBB EXCESS FLOOD'

In [35]:
output_final4 =[]
def output_list4(str):
    for i in range(1,7):
        data = pd.read_csv(f"{i}.csv")
        data = data.dropna()
        csv= data[data['new_col'].str.contains(str4)]
        a=csv['new_col'].unique()
        lis1=list(a)
        #print(lis1)
        lis2=(''.join(lis1))
        #print(lis2)
        
        string = lis2
        sub_str = '____'
        if(string.find(sub_str)==-1):
            print('for  data{} value not found'.format(i))
            output_final4.append('')
            #output_lis2.append(output_lis1)
            #return output_final
        else:
            print('for  data{} value found'.format(i))
            def listtostr(lis1):
                    str3 =" "
                    for e in lis1:
                        str3+=e
                    return str3
                
            str5=listtostr(lis1)
            print(str5) 
            def lastword(str):
                newstr = ''
                length = len(str)
                for i in range(length-1,0,-1):
                    if (str[i]==" "):
                        return newstr[::-1]
                    else:
                        newstr=newstr+str[i]
                        
            op2=lastword(str5)
            print(op2)
            output_final4.append(op2)  
            
    return output_final4

In [36]:
output_list4(str4)

for  data1 value not found
for  data2 value not found
for  data3 value not found
for  data4 value not found
for  data5 value not found
for  data6 value not found

['', '', '', '', '', '']

# PRODUCER NAME key

In [44]:
#representing the given key as string
str55 = 'PRODUCER NAME'

In [45]:
output_final5 =[]
def output_list5(str):
    for i in range(1,7):
        data = pd.read_csv(f"{i}.csv")
        data = data.dropna()
        csv= data[data['new_col'].str.contains(str55)]
        a=csv['new_col'].unique()
        lis1=list(a)
        #print(lis1)
        lis2=(''.join(lis1))
        #print(lis2)
        
        string = lis2
        sub_str = '_ KRA Insurance Agency'
        if(string.find(sub_str)==-1):
            print('for  data{} value not found'.format(i))
            output_final5.append('')
            #output_lis2.append(output_lis1)
            #return output_final
        else:
            print('for  data{} value found'.format(i))
            def listtostr(lis1):
                    str3 =" "
                    for e in lis1:
                        str3+=e
                    return str3
                
            str5=listtostr(lis1)
            print(str5) 
            def value_str(str):
                x=str.split(':')
                value=x[1][:23]
                return value 
                        
            op2=value_str(str5)
            print(op2)
            output_final5.append(op2)  
            
    return output_final5

In [46]:
output_list5(str55)

for  data1 value not found
for  data2 value not found
for  data3 value found
 PRODUCER NAME: _ KRA Insurance Agency PRODUCER NO: 61857
 _ KRA Insurance Agency
for  data4 value not found
for  data5 value not found
for  data6 value not found

['', '', ' _ KRA Insurance Agency', '', '', '']

In [51]:
#list of output_lists and columns 
out_lists = [output_final,output_final2,output_final3,output_final4,output_final5]
col_names = ['Contents in Basement1','Real Property in Basement1','Rebuilding to Code1','CHUBB PERSONAL (PRIMARY) FLOOD OR CHUBB EXCESS FLOOD1','PRODUCER NAME1']

In [52]:
#inserting new columns into standard dataset
for i in range(5):
    stan_data[col_names[i]] = out_lists[i]

In [53]:
#printing top 5 records
stan_data.head()

,Agency Name,Legacy Chubb Agency Code,Agency Contact Info Name,Phone,Email,Fax,Insured Name,Chubb Ltd Policy No,Street,City,...,Unnamed: 16380,Unnamed: 16381,Unnamed: 16382,Unnamed: 16383,CHUBB PERSONAL (PRIMARY) FLOOD OR CHUBB EXCESS FLOOD,Contents in Basement1,Real Property in Basement1,Rebuilding to Code1,CHUBB PERSONAL (PRIMARY) FLOOD OR CHUBB EXCESS FLOOD1,PRODUCER NAME1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,,Maximum,Maximum,Maxium,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,,,,,,_ KRA Insurance Agency
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,,,,,,

In [54]:
#checking shape
stan_data.shape

(6, 16390)

In [55]:
#converting standard datafile  to csv
stan_data.to_csv('updated_standard_template.csv',index=False)